<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.name | escape }} {{ site.project.version | escape }}{% endif %}</title>
<meta name="description"
      content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ "/assets/css/docs.css"   | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

<link rel="canonical" href="{{ page.url | replace: 'index.html', '' | absolute_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

<style>
    #jumbotron-header {
        background: {{ site.ui.header.color1 }};
        background: linear-gradient(135deg, {{ site.ui.header.color1 }}, {{ site.ui.header.color2 }});
    }
</style>

<script crossorigin="anonymous" integrity="sha384-E6DEMgDVNVMQBcNbZ+7UCzShh4QM6AnUtGZCT+l6nty/kl6t5ERgB2ooq95ROfnL" src="https://lib.baomitu.com/jquery/1.11.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-mk/CDN/N9py0dLF0occkSQ1yIC0FLrtgAcP9G6xiQqq4Cr7N0KCQqvQSmFBKT9cT" src="https://lib.baomitu.com/stickyfill/1.1.4/stickyfill.min.js"></script>
<script src="{{ '/assets/js/docs.min.js' | relative_url }}"></script>
<script src="//lib.baomitu.com/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_SVG"></script>
